
.header-nav-item {
        font-weight: 500;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.02em;
    
        color: #212121;
        list-style-type: none;
}
.header-nav-item:hover, 
.header-nav-item:focus {
color: #2196F3;
}

.current {
    color: #2196F3;
;
}

.list {list-style: none;}

:root {
   font: 'Raleway'
}

.header-tel {
    font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: #757575;
}
.header-tel:hover,
.header-tel:focus {
    color: #2196F3;
}

.header-mail {
    font-weight: 500;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.02em;

color: #757575;

}

.header-mail:hover,
.header-mail:focus {
color: #2196F3;
}

.studio {
Font:Oleo Script;
Weight:400;
Size:26px;
Line height:calc(35.96 / 26)
Letter:3%;
color: #000000
}

<!-- HERO-->


.hero-title {
    position: absolute;
        width: 696px;
        height: 120px;
        left: 452px;
        top: 280px;
    
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1,3px;
        /* or 136% */
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    margin-bottom: 200px;
        color: #FFFFFF;
}
    .hero-button {
font:inherit;
            width: 216px;
            height: 50px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            color: #fff;
            background-color: #2196F3;
    }

.hero-button:hover,
.hero-button:focus {
    background-color: #0579d8;
}

    <!--BODY--!>

        .body {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            
        }
        <!--ЗАГОЛОВКИ ВЕБСТУДІЇ--!>

        .section-title {
                font-weight: 700;
                font-size: 36px;
                line-height: calc(42 / 36);
                letter-spacing: 0.03em;
                color: #212121;
        }
        .section-title-secondary {
            font-weight: 700;
font-size: 14px;
line-height: calc(16 / 14);
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;
        }
<!--ЗАГОЛОВКИ PORTFOLIO --!>

.visually-hidden {
    position: absolute;  
    width: 1px;  
    height: 1px;  
    margin: -1px;  
    border: 0;  
    padding: 0;  
    white-space: nowrap;  
    clip-path: inset(100%);  
    clip: rect(0 0 0 0);  
    overflow: hidden;
}

        .about {
            width: 270px;
                height: 72px;
                left: 215px;
                top: 800px;
            
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1,7px;
                /* or 171% */
            
                letter-spacing: 0.03em;
            
                color: #757575;
        }
        .team {
            width: 129px;
                height: 19px;
                left: 286px;
                    top: 1922px;
            
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 1,18px;
                color: #212121;
        }
        .main-portfolio-title {
                width: 322px;
                height: 36px;
                left: 239px;
                top: 576px;
            
                font-weight: 700;
                font-size: 18px;
                line-height: 2px;
                /* identical to box height, or 200% */
            
                letter-spacing: 0.06em;
            
                color: #212121;
        }
    .studio-footer {
        font-family: var(Raleway);
            font-style: normal;
            color: #fff;
            Font: Oleo Script; 
            Weight: 400; 
            Size: 26px; 
            Line height:1,3px;
    }
    
    .addres-footer {
        font-weight: 400;
font-size: 14px;
line-height:calc(24 / 14);
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
    }

    .addres-footer:hover,
    .addres-footer:focus {
       color: #2196F3;
    }