.body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.logo-link {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        color: #2196F3;
        Weight 700 
        Size 26px 
        Line height 30px 
}
.studio {
    font-family: 'Raleway';
        font-style: normal;
        color: #000;
        Font Oleo Script 
        Weight 400 
        Size 26px 
        Line height 35px 
}
    